

.kuva-container {

}

.kuva-vasen {
  margin-top: 5rem;
  margin-bottom: 3rem;
  img {
    height: 450px;
    width: 100%;
    object-fit: cover;
  }
}

.kuva-oikea {
  margin-top: 5rem;
  margin-bottom: 3rem;
  img {
    height: 450px;
    width: 100%;
    object-fit: cover;
  }
  .kuva-right {
    @media @tablet-width {
      order: 1;
    }
  }
}

.feature-vasen {
  @media @tablet-width {
    order: 2;
  }
  .feature-toggle {
    border-bottom: 2px solid @gold;
    position: relative;
    margin: 2rem;
    margin-left: 3rem;
    margin-right: 1rem;
    &-title {
      position: absolute;
      top: -4.5rem;
      right: 1rem;
      margin-right: 1rem;
      padding-bottom: 5rem;
      text-align: right;
    }
    &-open-wrapper {
      margin-right: 1rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      text-align: right;
    }
    a {
      text-decoration: none;
    }
  
    &-icon {
      background-color: @gold;
      .bg-image(@chevron-down);
      border: 0;
      border-radius: 50%;
      bottom: 0;
      height: 3rem;
      margin-bottom: -1.5rem;
      position: absolute;
      left: -2rem;
      width: 3rem;
      .transition();
  
      &.active {
        .transform(rotate(180deg));
      }
    }
  
    &-highlight-text {
      color: black;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }
}