.footer {
  background-image: @footer-bg;
  color: @footer-color;
  margin-top: 8rem;
  @media @tablet-width {
    text-align: center;
  }

  h2, h3, h4 {
    color: @footer-heading-color;
  }

  p {
    color: @footer-color;
  }

  a {
    color: @footer-link-color;

    &:hover,
    &:focus,
    &:active {
      color: @footer-link-hover-color;
    }
  }
}

.footer-bottom {
  margin-top: 8px;
  border-top: 1px solid #4b636f;
}