// Color variables (appears count calculates by raw css)
@color0: #7a8ab8; // Appears 8 times
@color1: #366358; // Appears 4 times
@color2: #ebc247; // Appears 3 times
@color3: #c4bddb; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width4: 100%; // Appears 2 times
@width5: 75%; // Appears 2 times
@width7: 50%; // Appears 2 times

// Height variables (appears count calculates by raw css)
@height3: 100%; // Appears 2 times
@height4: 75%; // Appears 2 times
@height6: 50%; // Appears 2 times

.level {
	opacity: 0;
	pointer-events: none;
	transform: translateY(-20rem) translateX(20rem);
	transition: transform 600ms cubic-bezier(0.23, 1, 0.32, 1), opacity 600ms cubic-bezier(0.23, 1, 0.32, 1);
	&:hover {
		.finish {
			opacity: 1;
			pointer-events: auto;
			transform: scale(1);
			transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1), opacity 200ms linear;
		}
	}
}
.level[l="1"] {
	opacity: 1;
	pointer-events: auto;
	transform: translateY(0) translateX(0);
}
input {
	opacity: 0;
	pointer-events: none;
	&:checked+.level+input+.level {
		opacity: 1;
		pointer-events: auto;
		transform: translateY(0) translateX(0);
	}
	&:checked+.level {
		opacity: 0 !important;
		pointer-events: none !important;
		transform: translateY(20rem) translateX(-20rem) !important;
	}
	&:checked+.button {
		box-shadow: 0rem 0rem 0rem @color0;
		pointer-events: none;
		transform: translateX(-0.5rem) translateY(0.5rem);
	}
}
.button {
	background: @color2;
	background: @color3;
	border-radius: 10rem;
	box-shadow: -0.5rem 0.5rem 0.5rem @color0;
	cursor: pointer;
	height: @height4;
	left: 20%;
	line-height: 8rem;
	position: absolute;
	text-align: center;
	top: 5%;
	transition: box-shadow 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
	width: @width5;
	&:hover {
		box-shadow: -2rem 2rem 3rem @color0;
		transform: translateX(0.5rem) translateY(-0.5rem);
	}
	&:active {
		box-shadow: 0rem 0rem 0rem @color0;
		transform: translateX(-0.5rem) translateY(0.5rem);
	}
}
.goal {
	background: @color2;
	border-radius: 10rem;
	box-shadow: -0.5rem 0.5rem 0.5rem @color0;
	cursor: pointer;
	height: @height4;
	left: 20%;
	line-height: 8rem;
	position: absolute;
	text-align: center;
	top: 5%;
	transition: box-shadow 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
	width: @width5;
	&:hover {
		box-shadow: -2rem 2rem 3rem @color0;
		transform: translateX(0.5rem) translateY(-0.5rem);
	}
	&:active {
		box-shadow: 0rem 0rem 0rem @color0;
		transform: translateX(-0.5rem) translateY(0.5rem);
	}
}
#level-one {
	position: absolute;
	z-index: 10000;
}
.step {
	background: @color3;
	height: 10.1rem;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	transform: translateY(5rem) translateX(-5rem);
	transition: transform 600ms cubic-bezier(0.755, 0.05, 0.855, 0.06), opacity 600ms linear;
	width: 10.1rem;
	&:before {
		background: #5993a6;
		content: '';
		height: @height3;
		left: -20%;
		left: 0;
		pointer-events: none !important;
		position: absolute;
		top: 0;
		transform-origin: 100% 100%;
		transform: skewy(-45deg);
		width: 20%;
		width: @width4;
	}
	&:after {
		background: @color0;
		content: '';
		height: 20%;
		height: @height3;
		left: 0;
		pointer-events: none !important;
		position: absolute;
		top: 0;
		top: 100%;
		transform-origin: 0% 0%;
		transform: skewX(-45deg);
		width: @width4;
	}
}
.step.start {
	&:before {
		left: -50%;
		width: @width7;
	}
	&:after {
		height: @height6;
	}
}
.step.finish {
	&:before {
		left: -50%;
		width: @width7;
	}
	&:after {
		height: @height6;
	}
}
.step.start, .step:hover, .step:hover+.step, .step:hover+.path>.step:first-child, .step:hover+.path+.step, .step:hover+.bridge>input:checked+.step, .step:hover+.bridge>input:not(:checked)+.step+.step  {
	opacity: 1;
	pointer-events: auto;
	transform: scale(1);
	transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1), opacity 200ms linear;
}
.step[r="1"] {
	top: 10rem;
}
.step[r="2"] {
	top: 20rem;
}
.step[r="3"] {
	top: 30rem;
}
.step[r="4"] {
	top: 40rem;
}
.step[c="1"] {
	left: 10rem;
}
.step[c="2"] {
	left: 20rem;
}
.step[c="3"] {
	left: 30rem;
}
.step[c="4"] {
	left: 40rem;
}
.step[c="0"][r="0"] {
	z-index: 5;
}
.step[c="1"][r="0"] {
	z-index: 4;
}
.step[c="2"][r="0"] {
	z-index: 3;
}
.step[c="3"][r="0"] {
	z-index: 2;
}
.step[c="4"][r="0"] {
	z-index: 1;
}
.step[c="0"][r="1"] {
	z-index: 10;
}
.step[c="1"][r="1"] {
	z-index: 8;
}
.step[c="2"][r="1"] {
	z-index: 6;
}
.step[c="3"][r="1"] {
	z-index: 4;
}
.step[c="4"][r="1"] {
	z-index: 2;
}
.step[c="0"][r="2"] {
	z-index: 15;
}
.step[c="1"][r="2"] {
	z-index: 12;
}
.step[c="2"][r="2"] {
	z-index: 9;
}
.step[c="3"][r="2"] {
	z-index: 6;
}
.step[c="4"][r="2"] {
	z-index: 3;
}
.step[c="0"][r="3"] {
	z-index: 20;
}
.step[c="1"][r="3"] {
	z-index: 16;
}
.step[c="2"][r="3"] {
	z-index: 12;
}
.step[c="3"][r="3"] {
	z-index: 8;
}
.step[c="4"][r="3"] {
	z-index: 4;
}
.step[c="0"][r="4"] {
	z-index: 25;
}
.step[c="1"][r="4"] {
	z-index: 20;
}
.step[c="2"][r="4"] {
	z-index: 15;
}
.step[c="3"][r="4"] {
	z-index: 10;
}
.step[c="4"][r="4"] {
	z-index: 5;
}
.bridge {
	pointer-events: none;
}
.center {
	height: 50rem;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: perspective(100rem) translate3d(-50%, -50%, 0) rotateZ(-45deg);
	width: 50rem;
}

.share {
	background: @color2;
	border-radius: 5rem;
	box-shadow: -0.5rem 0.5rem 0.5rem @color1;
	color: @color1;
	cursor: pointer;
	display: inline-block;
	font-family: 'Teko', sans-serif;
	margin-top: 2rem;
	padding: 2rem;
	text-decoration: none;
	transition: box-shadow 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
	&:hover {
		box-shadow: -1.5rem 1.5rem 2.5rem @color1;
		transform: translateX(1rem) translateY(-1rem);
	}
	&:active {
		box-shadow: 0rem 0rem 0rem @color1;
		transform: translateX(-0.5rem) translateY(0.5rem);
	}
}
.message {
	text-align: center;
	transform: rotate(45deg) translatey(-10rem);
	width: 40rem;
}
.sig {
	bottom: 8px;
	color: rgba(255, 255, 255, 0.4);
	font-family: sans-serif;
	font-size: 12px;
	font-weight: 100;
	letter-spacing: 2px;
	position: fixed;
	right: 8px;
	text-decoration: none;
}