.header {
  background-color: @header-bg;
  display: flex;
  height: 5rem;
  &-logo {
    display: flex;
    justify-content: center;
    img {
      margin: @header-logo-margin;
      margin-left: 2.5rem;
      height: 2.5rem;
    }
  }

  &-navigation {

    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    @media @small-desktop-width {
      display: none;
    }
  }
}