// Rakenteiden/alueiden tyylit

main {
  background-image: @page-color;
}

.col-sm-12 {
  padding: 0 !important;
  margin: 0 !important;
}

.row {
  padding: 0 !important;
  margin: 0 !important;
}

.layout {
  padding-top: @layout-padding;
  padding-bottom: @layout-padding;

  &-gutter {
    padding: @gutter-lg;
    padding-left: 10rem;
    padding-right: 10rem;
    @media @tablet-width {
      padding: @layout-padding-mobile;
      padding-top: 4rem;
    }
  }

  &-mobile-hide {
    @media @tablet-width {
      display: none;
    }
  }

  &-white-box {
    background-image: @sininen-tausta;
    margin-left: -20%;
    margin-right: -20%;
    h1, h2, h3, h4, p, a {
      padding-left: 20%;
      padding-right: 20%;
    }
  }

  &-margin-500 {
    margin-top: 300px;
  }

  &-flex-revert {
    @media @tablet-width {
      flex-direction: row-reverse;
    }
  }

}

