// Jos sivulle lisää automaattisen navigaation lohkovalikosta, se käyttää näitä tyylejä

ul.nav {
  @media @small-desktop-width {
    display: none;
  }
   /* to vertically align */
  li {
    a {
      font-size: 1.2rem;
      font-weight: 500;
      color: @nav-color;
      background-color: @tumma;
      &:hover,
      &:focus,
      &:active {
        color: @nav-link-hover-color;
      }
    }
    
    &:hover,
    &:focus,
    &:active {
      > ul {
        display: block;
      }
    }

    &.nav-path-selected {
      background-color: @nav-link-hover-bg;
      a {
        color: @oranssi-tumma;
      }
    }
  }
}
