// COLORS
// Tässä määritellään sivuston värikoodit ja niille muuttujat.
// Tämä luo mahdollisuuden helposti muokata koko sivuston värejä kerralla.
@black: #161616;
@white: #fff;
@alto: #DBDBDB;
@light: #a6c6ff;
@tumma: #4a8cff;
@oranssi: #75001d;
@oranssi-tumma: #ac0009;
@punainen: #b20a2c;
@tausta: linear-gradient(to right, rgb(31, 31, 31), rgb(3, 3, 3));
@sininen-tausta: linear-gradient(to right, rgb(31, 31, 31), rgb(3, 3, 3));
@blue-text: @light;
@dark-text: @tumma;
@kuva-gradientti-alas: linear-gradient(to bottom, rgba(9, 32, 43, 0), rgba(9, 32, 43, 0.85));
@kuva-gradientti-sivulle: linear-gradient(to left, rgba(9, 32, 43, 0.3), rgba(9, 32, 43, 0.85));
/*
 * The sections in this document roughly correspond to our theme style guide.
 * Uses Name that color service http://chir.ag/projects/name-that-color.
 */

/*
* Back to top
*/
@back-to-top-bg: @white;
@back-to-top-color: @black;

/*
* Buttons
*/
@btn-cta-primary-bg: gold;
@btn-cta-primary-bg-hover: @punainen;
@btn-cta-primary-color: @white;
@btn-cta-secondary-bg: @white;
@btn-cta-secondary-color: @black;
@btn-cta-secondary-color-hover: @black;

/*
* Footer
*/
@footer-bg: @tumma;
@footer-color: @white;
@footer-heading-color: @white;
@footer-link-color: @white;
@footer-link-hover-color: gold;
@footer-top-border-color: @sininen-tausta;

/*
* Header
*/
@header-bg: @tausta;

/*
* Home
*/
@page-color: @tausta;
@home-hero-bg: @black;
@home-hero-color: @white;

/*
* Layouts
*/
@layout-dark-bg: @black;
@layout-dark-color: @alto;

/*
* Mobile menu
*/
@mobile-menu-toggle-bg: @white;
@mobile-menu-bg: @sininen-tausta;
@mobile-menu-color: @white;
@mobile-menu-hover-opacity: 0.8;
@mobile-menu-active-color: gold;

/*
* Navigation
*/
@nav-color: @white;
@nav-link-hover-bg: @tausta;
@nav-link-hover-color: gold;

/*
* Skip to main
*/
@skip-to-main-bg: @white;
@skip-to-main-color: @black;
@skip-to-main-border: @black;

/*
* Topbar
*/
@topbar-bg: @tumma;

/*
* Typography
*/
@p-color: @white;
@h1-color: @white;
@h2-color: @white;
@h3-color: @white;
@quote-color: @white;
@caption-color: @white;
@ingress-color: @white;
@link-color: @white;
@link-hover-color: gold;