/* Import our theme variables. */
/*
 * The sections in this document roughly correspond to our theme style guide.
 * Uses Name that color service http://chir.ag/projects/name-that-color.
 */
/*
* Back to top
*/
/*
* Buttons
*/
/*
* Footer
*/
/*
* Header
*/
/*
* Home
*/
/*
* Layouts
*/
/*
* Mobile menu
*/
/*
* Navigation
*/
/*
* Skip to main
*/
/*
* Topbar
*/
/*
* Typography
*/
/*
* Back to top
*/
/*
* Buttons
*/
/*
* Header
*/
/*
* Icons
*/
/*
* Mobile menu
*/
/*
* Topbar
*/
/*
* Back to top
*/
/*
* Buttons
*/
/*
* Footer
*/
/*
* Header
*/
/*
* Home
*/
/*
* Icons
*/
/*
* Layouts
*/
/*
* Main
*/
/*
* Mobile menu
*/
/*
* Topbar
*/
/*
* Typography
*/
/*
* Body
*/
/*
* Footer
*/
/*
* Headings
*/
/*
* Mobile menu
*/
/*
* Typography
*/
/*
* Icons
*/
/* Import our theme mixins */
.hide-scrollbar {
  /* this will hide the scrollbar in mozilla based browsers */
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  /* this will hide the scrollbar in internet explorers */
  -ms-overflow-style: none;
}
body {
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 0;
  background-color: #f1f1ef;
}
.hide-mobile {
  display: none;
}
@media (min-width: 770px) {
  .hide-mobile {
    display: block;
  }
}
@media (min-width: 770px) {
  .hide-desktop {
    display: none;
  }
}
a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}
a.skip-main:focus,
a.skip-main:active {
  color: #1b1b1b;
  background-color: #fff;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #1b1b1b;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}
h1 {
  color: #09202b;
  font-family: 'Readex Pro', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 770px) {
  h1 {
    font-size: 3rem;
    line-height: 1.5;
  }
}
h2 {
  color: #09202b;
  font-family: 'Readex Pro', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
@media (min-width: 770px) {
  h2 {
    font-size: 2rem;
  }
}
h3 {
  color: #09202b;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Readex Pro', sans-serif;
  letter-spacing: 1px;
}
@media (min-width: 770px) {
  h3 {
    font-size: 1.5rem;
  }
}
h4 {
  color: #09202b;
  font-size: 1.125rem;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: 'Readex Pro', sans-serif;
}
@media (min-width: 770px) {
  h4 {
    font-size: 1.125rem;
  }
}
p {
  color: #4b636f;
  font-size: 1rem;
}
@media (min-width: 770px) {
  p {
    font-size: 1.125rem;
  }
}
@media (max-width: 770px) {
  p {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
a {
  color: #09202b;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: #ff7666;
  text-decoration: none;
}
.ingress {
  color: #4b636f;
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 2.5rem 0;
}
.caption {
  color: #4b636f;
  font-size: 0.875rem;
}
blockquote {
  color: #4b636f;
  font-size: 1.25rem;
}
/* Import custom block less files */
.splide__slide img {
  width: 100%;
  height: 20rem;
  padding: 0 0.5rem;
}
@media screen and (max-width: 1200px) {
  .splide__slide img {
    width: 100%;
    height: auto;
  }
  .splide__pagination__page::before {
    content: '';
  }
}
.splide__pagination {
  bottom: -6rem;
  counter-reset: paginationbutton;
}
.splide__pagination .splide__pagination__page {
  counter-increment: paginationbutton;
  background: none;
  border: 2px solid #384726;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}
.splide__pagination .splide__pagination__page::before {
  content: counters(paginationbutton, ".") " ";
}
.splide__pagination .splide__pagination__page.is-active {
  transform: scale(1);
  background-color: #384726;
  color: white;
}
.list-ul {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 2.5rem;
  padding-inline-start: 0;
}
.list-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  width: 100%;
  padding: 2rem;
  padding-top: 0;
  text-align: center;
}
@media (min-width: 770px) {
  .list-item {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .list-item {
    width: 33%;
  }
}
.list-item:before {
  content: '' !important;
  display: none !important;
}
.list-item-image {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  width: 100%;
}
.list-item-image img {
  max-height: 100px;
  max-width: 100px;
}
.list-item-description {
  margin-bottom: 2.5rem;
}
.toggle-list-item {
  border: 1px solid black;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  width: 95%;
}
.toggle-list-item-wrapper.active .toggle-list-item-title .toggle-list-item-icon-minus {
  transform: rotate(180deg);
  opacity: 0;
}
.toggle-list-item-wrapper.active .toggle-list-item-title .toggle-list-item-icon-minus {
  opacity: 1;
}
.toggle-list-item-wrapper,
.toggle-list-item-wrapper:hover {
  text-decoration: none !important;
}
.toggle-list-item-open-wrapper {
  padding: 1.5rem;
  padding-top: 0;
  overflow-x: scroll;
}
.toggle-list-item-icon {
  align-items: center;
  background-color: #000;
  border: 0;
  border-radius: 0.5rem;
  color: #fff;
  display: flex;
  font-size: 3rem !important;
  height: 3rem;
  justify-content: center;
  line-height: 0 !important;
  margin: 0 1.5rem;
  margin-right: -3.5%;
  padding-bottom: 0.5rem;
  position: absolute;
  right: 0;
  transition: all 0.3s;
  width: 3rem;
}
.toggle-list-item-icon-plus {
  opacity: 1;
}
.toggle-list-item-icon-minus {
  opacity: 0;
}
.toggle-list-item-title {
  align-items: center;
  color: #000;
  cursor: pointer;
  display: flex;
  padding: 1.5rem;
  padding-right: 3rem;
  position: relative;
}
.toggle-list-item-title h2,
.toggle-list-item-title h3,
.toggle-list-item-title h4,
.toggle-list-item-title h5 {
  color: #000 !important;
  margin: 0 !important;
}
.toggle-list-item-title h2 {
  font-size: 22px !important;
}
@media (min-width: 1200px) {
  .toggle-list-item-title h2 {
    font-size: 30px !important;
  }
}
.toggle-list-item-title h3 {
  font-size: 20px !important;
}
@media (min-width: 1200px) {
  .toggle-list-item-title h3 {
    font-size: 24px !important;
  }
}
.toggle-list-item-title h4 {
  font-size: 18px !important;
}
@media (min-width: 1200px) {
  .toggle-list-item-title h4 {
    font-size: 20px !important;
  }
}
.splide__arrows {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  padding-top: 2rem;
  width: 100%;
}
.splide__arrow {
  background: transparent;
  border-radius: 0 !important;
  opacity: 1;
  padding: 0 !important;
  position: relative;
  top: 0;
  transform: none;
}
.splide__arrow--prev {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.wtfslider-counter span {
  color: #fff;
}
.wtfslider-list {
  background-image: #1b1b1b;
}
.wtfslider-item {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  padding: 2rem;
  padding-top: 0;
  text-align: center;
}
.wtfslider-item:before {
  content: '' !important;
  display: none !important;
}
.wtfslider-item-image {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}
.wtfslider-item-image img {
  background-color: #ffffff;
  border-radius: 50%;
  max-height: 150px;
  max-width: 150px;
}
.wtfslider-item-title {
  color: #fff;
}
.wtfslider-item-description {
  margin-bottom: 2rem;
  max-height: 300px;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.wtfslider-item-description p {
  color: #fff;
  font-size: 1.6rem !important;
}
.wtfslider-next-arrow {
  bottom: 0;
  display: none;
  padding-bottom: 2rem;
  position: absolute;
  right: 2rem;
  top: auto;
}
.wtfslider-arrow {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 8rem;
}
/* These are not added when in edit mode */
.ccm-html {
  /* 
/* Esimerkki blur-reveal-animaatiolle

.hero-title {
  filter: blur(1.5rem);
  .transition(filter, 1s, ease-in);

  &.reveal {
    filter: blur(0);
  }
}
*/
  /*
/*  Rakenteen tai listaelementin animointi (slide in):
*/
}
.ccm-html .animated .container [class^="col-"],
.ccm-html .animated .animated-child {
  opacity: 0;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 1s ease-in-out 0.3s ease-in-out;
  -moz-transition: all 1s ease-in-out 0.3s ease-in-out;
  -o-transition: all 1s ease-in-out 0.3s ease-in-out;
  -ms-transition: all 1s ease-in-out 0.3s ease-in-out;
  transition: all 1s ease-in-out 0.3s ease-in-out;
}
.ccm-html .animated .container [class^="col-"]:nth-child(9),
.ccm-html .animated .animated-child:nth-child(9) {
  transition-delay: 900ms;
}
.ccm-html .animated .container [class^="col-"]:nth-child(8),
.ccm-html .animated .animated-child:nth-child(8) {
  transition-delay: 800ms;
}
.ccm-html .animated .container [class^="col-"]:nth-child(7),
.ccm-html .animated .animated-child:nth-child(7) {
  transition-delay: 700ms;
}
.ccm-html .animated .container [class^="col-"]:nth-child(6),
.ccm-html .animated .animated-child:nth-child(6) {
  transition-delay: 600ms;
}
.ccm-html .animated .container [class^="col-"]:nth-child(5),
.ccm-html .animated .animated-child:nth-child(5) {
  transition-delay: 500ms;
}
.ccm-html .animated .container [class^="col-"]:nth-child(4),
.ccm-html .animated .animated-child:nth-child(4) {
  transition-delay: 400ms;
}
.ccm-html .animated .container [class^="col-"]:nth-child(3),
.ccm-html .animated .animated-child:nth-child(3) {
  transition-delay: 300ms;
}
.ccm-html .animated .container [class^="col-"]:nth-child(2),
.ccm-html .animated .animated-child:nth-child(2) {
  transition-delay: 200ms;
}
.ccm-html .animated .container [class^="col-"]:nth-child(1),
.ccm-html .animated .animated-child:nth-child(1) {
  transition-delay: 100ms;
}
.ccm-html .animated.appear .container [class^="col-"],
.ccm-html .animated.appear .animated-child {
  opacity: 1;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
.ccm-html .slide-in-right {
  opacity: 0;
}
.ccm-html .slide-in-right.appear {
  animation: slideInFromRight 0.6s 0.2s forwards;
}
@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Styles always added */
.ccm-page #back-to-top {
  background-color: #fff;
  border-radius: 50%;
  color: #1b1b1b;
  bottom: 0.7rem;
  display: none;
  font-size: 24px;
  height: 40px;
  left: auto;
  opacity: 0.7;
  position: fixed;
  right: 0.7rem;
  text-align: center;
  text-decoration: none;
  top: auto;
  z-index: 100;
  width: 40px;
  -webkit-transition: all 0.4s ease 0.3s ease-in-out;
  -moz-transition: all 0.4s ease 0.3s ease-in-out;
  -o-transition: all 0.4s ease 0.3s ease-in-out;
  -ms-transition: all 0.4s ease 0.3s ease-in-out;
  transition: all 0.4s ease 0.3s ease-in-out;
}
@media (min-width: 770px) {
  .ccm-page #back-to-top {
    bottom: 2.5rem;
    right: 2.5rem;
  }
}
.ccm-page #back-to-top:hover,
.ccm-page #back-to-top:active,
.ccm-page #back-to-top:focus {
  opacity: 1;
}
.ccm-page .btn,
.ccm-page button {
  -webkit-transition: all 0.4s ease 0.3s ease-in-out;
  -moz-transition: all 0.4s ease 0.3s ease-in-out;
  -o-transition: all 0.4s ease 0.3s ease-in-out;
  -ms-transition: all 0.4s ease 0.3s ease-in-out;
  transition: all 0.4s ease 0.3s ease-in-out;
}
.ccm-page .btn {
  margin: 1.8rem 0;
  max-width: 100%;
  white-space: normal;
}
.ccm-page .btn-primary {
  background-color: #ff7666;
  color: #09202b;
  padding: 0.8rem 2rem 0.8rem 2rem;
  border: 0;
  transition: all 0.5s ease;
  font-size: 0.8rem;
  letter-spacing: 2px;
}
.ccm-page .btn-primary span {
  text-align: right;
  color: transparent;
  transition: all 0.5s ease;
}
.ccm-page .btn-primary:hover,
.ccm-page .btn-primary:active,
.ccm-page .btn-primary:focus {
  background-color: #ff4e3a;
  padding-right: 3rem;
  padding-left: 3rem;
  transition: all 0.5s ease;
}
.ccm-page .btn-primary:hover span,
.ccm-page .btn-primary:active span,
.ccm-page .btn-primary:focus span {
  color: #09202b;
  transition: all 0.5s ease;
}
.ccm-page .btn-secondary {
  background-color: #fff;
  color: #1b1b1b;
  padding: 10px 30px;
  border: 1px solid #ff7666;
}
.ccm-page .btn-secondary:hover,
.ccm-page .btn-secondary:active,
.ccm-page .btn-secondary:focus {
  background-color: #ff4e3a;
}
.ccm-page .footer {
  background-color: #09202b;
  border-top: 2px solid #09202b;
  color: #f1f1ef;
  padding-bottom: 4rem;
  padding-top: 4rem;
}
@media (max-width: 770px) {
  .ccm-page .footer {
    text-align: center;
  }
}
.ccm-page .footer h2,
.ccm-page .footer h3,
.ccm-page .footer h4 {
  color: #f1f1ef;
}
.ccm-page .footer p {
  color: #f1f1ef;
}
.ccm-page .footer a {
  color: #fff;
}
.ccm-page .footer a:hover,
.ccm-page .footer a:focus,
.ccm-page .footer a:active {
  color: #ff7666;
}
.ccm-page .footer-bottom {
  padding-top: 8px;
  border-top: 1px solid #4b636f;
}
.ccm-page .header {
  background-color: #09202b;
  display: flex;
  height: 5rem;
}
.ccm-page .header-logo {
  display: flex;
  justify-content: center;
}
.ccm-page .header-logo img {
  margin: 20px;
  margin-left: 2.5rem;
  height: 2.5rem;
}
.ccm-page .header-navigation {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 770px) {
  .ccm-page .header-navigation {
    display: none;
  }
}
.ccm-page .home-hero {
  background-color: #1b1b1b;
  color: #fff;
  padding: 4rem;
}
.ccm-page .home-hero h1,
.ccm-page .home-hero h2,
.ccm-page .home-hero h3,
.ccm-page .home-hero h4,
.ccm-page .home-hero h5,
.ccm-page .home-hero p,
.ccm-page .home-hero span,
.ccm-page .home-hero a,
.ccm-page .home-hero li {
  color: #fff;
}
.ccm-page .icon {
  background-size: contain;
  background-position: center;
  display: inline-block;
  margin: 0.7rem;
  vertical-align: middle;
}
.ccm-page .icon-small {
  height: 20px;
  width: 20px;
}
.ccm-page .icon-medium {
  height: 40px;
  width: 40px;
}
.ccm-page .layout {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.ccm-page .layout-gutter {
  padding: 4rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
@media (max-width: 770px) {
  .ccm-page .layout-gutter {
    padding: 0.7rem;
  }
}
@media (max-width: 770px) {
  .ccm-page .layout-mobile-hide {
    display: none;
  }
}
@media (min-width: 770px) {
  .ccm-page .layout-desktop-hide {
    display: none;
  }
}
.ccm-page .layout-palvelu-valkoinen-laatikko {
  background-color: #f1f1ef;
  padding-top: 2rem;
  padding-bottom: 0;
  margin-right: 3rem;
  margin-left: 3rem;
  border-radius: 1;
  z-index: 999;
}
.ccm-page .layout-max-width {
  position: relative;
}
.ccm-page .layout-max-width img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}
@media (max-width: 770px) {
  .ccm-page .layout-max-width img {
    position: relative;
    margin-top: -300px;
    z-index: -10;
    height: 390px;
  }
}
.ccm-page .layout-max-width ::after {
  background: linear-gradient(to bottom, rgba(9, 32, 43, 0), rgba(9, 32, 43, 0.85));
  content: '';
  height: 70vh;
  left: 0px;
  position: absolute;
  right: 0px;
  bottom: 0;
  z-index: 900;
}
@media (max-width: 770px) {
  .ccm-page .layout-max-width ::after {
    margin-top: -300px;
    z-index: -10;
    height: 390px;
  }
}
.ccm-page .layout-padding-bottom {
  padding-bottom: 3rem;
}
@media (max-width: 770px) {
  .ccm-page .layout-padding-bottom {
    padding-bottom: 2.5rem;
  }
}
.ccm-page .layout-padding {
  padding-bottom: 3rem;
  padding-top: 3rem;
}
@media (max-width: 770px) {
  .ccm-page .layout-padding {
    padding: 2.5rem;
  }
}
.ccm-page .layout-display-flex {
  display: flex;
  flex-direction: column;
}
.ccm-page .layout-tumma-tausta {
  margin-left: 0;
  margin-right: 0;
  background-color: #09202b;
}
.ccm-page .layout-tumma-tausta h1,
.ccm-page .layout-tumma-tausta h2,
.ccm-page .layout-tumma-tausta h3,
.ccm-page .layout-tumma-tausta h4,
.ccm-page .layout-tumma-tausta p {
  color: #f1f1ef;
}
.ccm-page .layout-etusivu-palvelut {
  margin-left: -50%;
  padding: 1rem;
}
.ccm-page .layout-etusivu-palvelut h1,
.ccm-page .layout-etusivu-palvelut h2,
.ccm-page .layout-etusivu-palvelut h3,
.ccm-page .layout-etusivu-palvelut h4,
.ccm-page .layout-etusivu-palvelut p {
  color: #f1f1ef;
}
@media (max-width: 770px) {
  .ccm-page .layout-etusivu-palvelut {
    padding-bottom: 2rem;
    margin-left: auto;
    text-align: center;
  }
}
.ccm-page .layout-viiva-pallo {
  margin: auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #09202b;
}
.ccm-page .layout-siniviiva {
  margin-bottom: 20px;
  outline: 1px solid #09202b;
  outline-offset: -40px;
}
.ccm-page .layout-left {
  margin: 0;
  margin-left: 0;
}
.ccm-page .layout-right {
  margin: 0;
  margin-right: 0;
}
.ccm-page .layout-white-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f1f1ef;
  height: 320px;
  width: 260px;
  border-radius: 1%;
  margin-bottom: 2rem;
}
@media (max-width: 770px) {
  .ccm-page .layout-white-box {
    margin-left: auto;
    margin-right: auto;
  }
}
.ccm-page .layout-white-box p {
  color: #09202b;
}
.ccm-page .layout-palvelut-background {
  background-image: linear-gradient(to left, rgba(9, 32, 43, 0.3), rgba(9, 32, 43, 0.85)), url('/application/files/3016/4123/2552/EtusivuToimisto.jpeg');
  width: 100%;
  height: auto;
  padding-top: 320px;
  padding-bottom: 80px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
@media (max-width: 770px) {
  .ccm-page .layout-palvelut-background {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.ccm-page .layout-X-pallo h2 {
  font-size: 3rem;
  margin: auto;
  color: #f1f1ef;
  line-height: 260px;
  text-align: center;
  background-color: #09202b;
  width: 260px;
  height: 260px;
  border-radius: 50%;
}
@media (max-width: 770px) {
  .ccm-page .layout-X-pallo h2 {
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin-top: 3.5rem;
  }
}
.ccm-page .layout-X-pallo h3 {
  position: absolute;
  font-weight: 300;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
  color: #f1f1ef;
}
.ccm-page .layout-X-pallo-pieni {
  margin-top: 5rem;
}
.ccm-page .layout-X-pallo-pieni h1,
.ccm-page .layout-X-pallo-pieni h2,
.ccm-page .layout-X-pallo-pieni h3 {
  margin: auto;
  color: #f1f1ef;
  line-height: 160px;
  text-align: center;
  background-color: #09202b;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
@media (max-width: 770px) {
  .ccm-page .layout-X-pallo-pieni {
    margin-top: 1.5rem;
  }
}
.ccm-page .layout-naama-iso {
  margin: auto;
  text-align: center;
}
.ccm-page .layout-naama-iso img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
}
.ccm-page .layout-naama {
  margin: auto;
  text-align: center;
}
.ccm-page .layout-naama img {
  margin-top: 5rem;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}
@media (max-width: 770px) {
  .ccm-page .layout-naama img {
    margin-top: 1.5rem;
  }
}
.ccm-page .layout-yritys-background {
  position: relative;
}
.ccm-page .layout-yritys-background img {
  margin-left: 10%;
  width: 80%;
  height: 60vh;
}
.ccm-page .layout-yritys-background ::after {
  background: linear-gradient(to bottom, rgba(9, 32, 43, 0), rgba(9, 32, 43, 0.85));
  content: '';
  height: 60vh;
  left: 10%;
  right: 10%;
  position: absolute;
  top: 0;
}
.ccm-page .layout-arvot {
  padding: 4rem;
  padding-top: 2.5rem;
  padding-top: 0;
}
.ccm-page .layout-rekry {
  margin-bottom: 1.5rem;
  padding: 2rem;
  border: 1px solid #09202b;
  border-radius: 1;
}
.ccm-page .layout-rekry h2 {
  color: #ff7666;
  font-size: 1.5rem;
}
.ccm-page .layout-dark {
  background: #1b1b1b;
  color: #DBDBDB;
  padding: 2.5rem;
}
.ccm-page .layout-dark p,
.ccm-page .layout-dark a,
.ccm-page .layout-dark h1,
.ccm-page .layout-dark h2,
.ccm-page .layout-dark h3,
.ccm-page .layout-dark h4,
.ccm-page .layout-dark h5,
.ccm-page .layout-dark li,
.ccm-page .layout-dark span {
  color: #DBDBDB !important;
}
.ccm-page .layout-dark p {
  margin-bottom: 0;
}
.ccm-page .layout-dark .container {
  max-width: 100%;
}
.ccm-page .layout-large-padding {
  padding-bottom: 4rem;
  padding-top: 4rem;
}
@media (min-width: 770px) {
  .ccm-page .layout-center-vertically .row {
    align-items: center;
    display: flex;
  }
}
.ccm-page .layout-footer-oranssi {
  margin-top: 5rem;
  border-left: 1px solid #ff7666;
}
.ccm-page .layout-footer-oranssi h4,
.ccm-page .layout-footer-oranssi p {
  padding-left: 15px;
}
@media (max-width: 770px) {
  .ccm-page .layout-footer-oranssi {
    border: 0;
    text-align: center;
    padding-left: 0rem;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
.ccm-page .layout-icon-hover img:hover,
.ccm-page .layout-icon-hover img:focus,
.ccm-page .layout-icon-hover img:active {
  filter: invert(44%) sepia(25%) saturate(7343%) hue-rotate(339deg) brightness(105%) contrast(103%);
  transition-duration: 0ms;
}
.ccm-page .menu-toggle {
  display: block;
  position: absolute;
  padding-right: 30px;
  right: 0;
}
@media (min-width: 770px) {
  .ccm-page .menu-toggle {
    display: none;
  }
}
.ccm-page .menu-toggle .toggle-nav {
  cursor: pointer;
  margin: 1.8rem 0;
  width: 40px;
}
.ccm-page .menu-toggle .toggle-nav .menu-icon .line {
  background-color: #fff;
  height: 4px;
  margin: 7px 0;
  -webkit-transition: all 0.4s ease 0.3s ease-in-out;
  -moz-transition: all 0.4s ease 0.3s ease-in-out;
  -o-transition: all 0.4s ease 0.3s ease-in-out;
  -ms-transition: all 0.4s ease 0.3s ease-in-out;
  transition: all 0.4s ease 0.3s ease-in-out;
}
.ccm-page .menu-toggle .toggle-nav.open {
  padding-top: 10px;
}
.ccm-page .menu-toggle .toggle-nav.open .menu-icon .line-1 {
  height: 5px;
  margin: -5px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.ccm-page .menu-toggle .toggle-nav.open .menu-icon .line-2 {
  height: 5px;
  margin: -5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ccm-page .menu-toggle .toggle-nav.open .menu-icon .line-3 {
  display: none;
}
.ccm-page .mobile-wrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 0;
}
@media (min-width: 770px) {
  .ccm-page .mobile-wrapper {
    position: static;
  }
}
.ccm-page .mobile-wrapper.open {
  height: 100vh;
  overflow: scroll;
  z-index: 999;
  /* this will hide the scrollbar in mozilla based browsers */
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  /* this will hide the scrollbar in internet explorers */
  -ms-overflow-style: none;
}
@media (min-width: 770px) {
  .ccm-page .mobile-wrapper.open {
    position: absolute;
  }
}
@media (min-width: 770px) {
  .ccm-page .mobile-wrapper.open .menu-toggle {
    display: block;
  }
}
.ccm-page .mobile-menu {
  background-color: #09202b;
  color: #f1f1ef;
  display: none;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1.25rem;
  height: 100vh;
  margin-top: 80px;
  overflow: scroll;
  padding: 1.8rem;
  /* this will hide the scrollbar in mozilla based browsers */
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  /* this will hide the scrollbar in internet explorers */
  -ms-overflow-style: none;
}
.ccm-page .mobile-menu a.btn.btn-primary {
  padding-right: 30px;
  padding-left: 30px;
}
.ccm-page .mobile-menu a.btn.btn-primary :hover,
.ccm-page .mobile-menu a.btn.btn-primary :active,
.ccm-page .mobile-menu a.btn.btn-primary :focus {
  padding-right: 30px;
  padding-left: 30px;
}
@media (min-width: 770px) {
  .ccm-page .mobile-menu {
    left: auto;
    min-width: 300px;
    max-width: 300px;
  }
}
.ccm-page .mobile-menu .show-submenu {
  padding-left: 15px;
  padding-right: 15px;
}
.ccm-page .mobile-menu .nav {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 10px;
  justify-content: center;
}
.ccm-page .mobile-menu .nav li {
  padding-right: 15px;
  padding-left: 15px;
}
.ccm-page .mobile-menu .nav li a {
  padding-top: 1rem;
  text-align: center;
  font-size: 30px;
  line-height: 0.8;
  font-weight: 800;
}
.ccm-page .mobile-menu .nav li ul {
  padding-left: 15px;
  padding-right: 15px;
}
.ccm-page .mobile-menu .nav li ul li a {
  text-align: center;
  padding-top: 0.5rem;
  font-weight: 700;
  font-size: 22px;
}
.ccm-page .mobile-menu a {
  color: #f1f1ef;
  padding-left: 0;
  text-decoration: none;
}
.ccm-page .mobile-menu a.nav-path-selected {
  color: #f1f1ef;
}
.ccm-page .mobile-menu a.nav-path-selected,
.ccm-page .mobile-menu a:hover,
.ccm-page .mobile-menu a:focus,
.ccm-page .mobile-menu a:active {
  color: #f1f1ef;
  background-color: #09202b;
  opacity: 0.8;
}
.ccm-page .mobile-menu .toggle-submenu {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 10px;
}
.ccm-page ul.nav {
  display: flex;
  flex-flow: row wrap;
  padding-inline-start: 0;
}
.ccm-page ul.nav li {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 50px;
}
.ccm-page ul.nav li a {
  color: #f1f1ef;
  background-color: #09202b;
}
.ccm-page ul.nav li a:hover,
.ccm-page ul.nav li a:focus,
.ccm-page ul.nav li a:active {
  color: #ff7666;
}
.ccm-page ul.nav li:hover > ul,
.ccm-page ul.nav li:focus > ul,
.ccm-page ul.nav li:active > ul {
  display: block;
}
.ccm-page ul.nav li.nav-path-selected {
  background-color: #09202b;
}
.ccm-page ul.nav li.nav-path-selected a {
  color: #ff7666;
}
.ccm-page .topbar {
  height: 100%;
  margin-bottom: 1.8rem;
  width: 100%;
}
.ccm-page .topbar-content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.ccm-page .topbar-wrapper {
  align-items: center;
  background-color: #09202b;
  display: flex;
  height: 60px;
}
.ccm-page .ccm-form {
  background-color: #f1f1ef;
  padding: 1rem;
  padding-bottom: 0;
  letter-spacing: 1px;
}
.ccm-page .ccm-form label {
  font-size: 0rem;
  font-weight: normal;
}
.ccm-page .ccm-form input[type="file"] {
  color: white;
  text-align: center;
  height: 50px;
  border: 0px;
  background-color: #4b636f;
  width: 100%;
}
.ccm-page .ccm-form span {
  display: none;
}
.ccm-page .ccm-form input {
  text-align: left;
  color: #f1f1ef;
  background-color: #f1f1ef;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 1rem;
  height: 4rem;
  border: 2px solid #b1b1b1;
  border-radius: 1;
}
.ccm-page .ccm-form textarea {
  text-align: left;
  background-color: #f1f1ef;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 1;
  border: 2px solid #b1b1b1;
  border-radius: 1;
}
.ccm-page .ccm-form button {
  overflow: hidden;
  white-space: nowrap;
  margin-top: -70px;
  margin-left: 100%;
  transform: translateX(-100%);
  color: #f1f1ef;
}
@media (max-width: 770px) {
  .ccm-page .ccm-form button {
    margin-top: 20px;
    margin-left: auto;
    transform: translateX(0%);
  }
}
.ccm-page .btn-secondary {
  background-color: #ff7666;
}
.ccm-page .captcha {
  padding-top: 20px;
}
@media (max-width: 770px) {
  .ccm-page .captcha {
    padding-top: 20px;
  }
}
.ccm-page .form-control:focus {
  border-color: #ff7666;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #ff7666;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #ff7666;
}
.ccm-page .mb-3 {
  margin-bottom: 0 !important;
}
/* Styles only for edit mode */
.ccm-toolbar-visible .ccm-page .mobile-wrapper {
  top: 5rem;
}
.ccm-toolbar-visible .ccm-page #main-content {
  overflow: visible !important;
}
.ccm-toolbar-visible {
  font-size: unset !important;
}
